<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="iori.hdoctor">

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name=".activity.DoctorLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DoctorMainActivity" />
        <activity android:name=".activity.DoctorRegisterActivity" />
        <activity android:name=".activity.DoctorRegisterPhoneActivity" />
        <activity android:name=".activity.DoctorRegisterCompleteActivity" />
        <activity android:name=".activity.DoctorBLGLActivity" />
        <activity android:name=".activity.DoctorBLGLInfoActivity" />
        <activity android:name=".activity.DoctorYYZXActivity" />
        <activity android:name=".activity.DoctorYYZXInfoActivity" />
        <activity android:name=".activity.DoctorCZSZActivity" />
        <activity android:name=".activity.DoctorFFGLActivity" />
        <activity android:name=".activity.DoctorFFGLInfoActivity" />
        <activity android:name=".activity.DoctorGRZXActivity" />
        <activity android:name=".activity.DoctorCircleActivity" />
        <activity android:name=".activity.DoctorCircleInfoActivity" />
        <activity android:name=".activity.DoctorFriendActivity" />
        <activity android:name=".activity.DoctorMessageActivity" />
        <activity android:name=".activity.PatientLoginActivity" />
        <activity android:name=".activity.PatientRegisterCompleteActivity" />
        <activity android:name=".activity.PatientMainActivity" />
        <activity android:name=".activity.PatientZWZD02Activity" />
        <activity android:name=".activity.PatientZWZD01Activity" />
        <activity android:name=".activity.PatientZWZD03Activity" />
        <activity android:name=".activity.PatientZWZD04Activity" />
        <activity android:name=".activity.PatientZWZD05Activity" />
        <activity android:name=".activity.PatientZWZD06Activity" />
        <activity android:name=".activity.PatientZWZD07Activity" />
        <activity android:name=".activity.PatientZWZD08Activity" />
        <activity android:name=".activity.PatientZWZD09Activity" />
        <activity android:name=".activity.PatientZWZD10Activity" />
        <activity android:name=".activity.PatientZWZD11Activity" />
        <activity android:name=".activity.PatientZWZD12Activity" />
        <activity android:name=".activity.PatientZWZD13Activity" />
        <activity android:name=".activity.PatientZWZD14Activity" />
        <activity android:name=".activity.PatientZWZD15Activity" />
        <activity android:name=".activity.PatientFXBGActivity" />
        <activity android:name=".activity.PatientJKTXActivity" />
        <activity android:name=".activity.PatientCalendarActivity" />
        <activity android:name=".activity.PatientWDYXActivity" />
        <activity android:name=".activity.PatientFJActivity" />
        <activity android:name=".activity.PatientCircleActivity" />
        <activity android:name=".activity.PatientFriendActivity" />
        <activity android:name=".activity.PatientMessageActivity" />
        <activity android:name=".activity.PatientCircleInfoActivity" />
        <activity android:name=".activity.PatientBLGLInfoActivity" />
        <activity android:name=".activity.PatientDoctorIntroduceActivity" />
        <activity android:name=".activity.PatientWDYYActivity" />
        <activity android:name=".activity.PatientWDDDActivity" />
        <activity android:name=".activity.PatientPublishCommentActivity" />
        <activity android:name=".activity.PatientDoctorYYActivity" />
        <activity android:name=".activity.PatientWDZLActivity" />
        <activity android:name=".activity.DoctorStatisticsActivity" />
        <activity android:name=".activity.DoctorInfoActivity" />
        <activity android:name=".activity.DoctorSRXQActivity" />

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 扫描二维码 -->
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

</manifest>
