<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="iori.hdoctor">

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name=".activity.DoctorLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DoctorMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorRegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorRegisterPhoneActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorRegisterCompleteActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorBLGLActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorBLGLInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorYYZXActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorYYZXInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorCZSZActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorFFGLActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorFFGLInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.DoctorGRZXActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorBankRecordActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorPublicActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorCircleInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorFriendActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorMessageActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientLoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientRegisterCompleteActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientMainActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD02Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD01Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD03Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD04Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD05Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD06Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD07Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD08Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD09Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD10Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD11Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD12Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD13Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD14Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZD15Activity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZWZDCompleteActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientFXBGActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientJKTXActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientCalendarActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientWDYXActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientFJActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientCircleActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientFriendActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientMessageActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientCircleInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientBLGLInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientDoctorIntroduceActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientWDYYActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientWDDDActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientPublishCommentActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientDoctorYYActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientWDZLActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorStatisticsActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorPatientInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorSRXQActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorSettingActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorZHZXctivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorModifyActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorAddBankActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientRegisterPhoneActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientDAGLActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientAddMedicinectivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientAddMedicinePromptActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientWDDDInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PatientZHZXActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PatientWDFBActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PatientWDSCActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientSettingActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientPublishActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorPublishActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorMyFaBiaoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorMyShouCangActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorCircleYSActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZiZhiDocActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientMapActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientSearchActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientYYActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientZXZXActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientDHZXActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientHospitalIntroduceActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientDHZXResultActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientChuZhenActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.PatientAddFriendActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.im.ConversationListActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.im.PhotoActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.DoctorAddFriendActivity" android:screenOrientation="portrait" />

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SjGOL6R5whGAPGjfCQ4t8IHF" />

        <activity
            android:name="io.rong.imkit.RongSingleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="iori.hdoctor"
                    android:path="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.im.ConversationStaticActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="iori.hdoctor"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="iori.hdoctor"
                    android:pathPrefix="/VoIPCall"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="iori.hdoctor"
                    android:pathPrefix="/VoIPAccept"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.im.SubConversationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="iori.hdoctor"
                    android:path="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.rong.imkit.tools.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.PreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.CommandService"
            android:process="io.rong.push">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push">
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc"></service>
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver">
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="x18ywvqf8uqrc" />

        <!--<meta-data-->
            <!--android:name="RONG_CLOUD_APP_KEY"-->
            <!--android:value="sfci50a7cpa0i" />-->
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 扫描二维码 -->
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

</manifest>
